*.pyc
io_scene_wmo/.idea/workspace.xml
io_scene_wmo/.idea/modules.xml
io_scene_wmo/.idea/inspectionProfiles/profiles_settings.xml
io_scene_wmo/.idea/io_scene_wmo.iml
io_scene_wmo/.idea/misc.xml
io_scene_wmo/io_scene_wmo_updater/updater_status.json
io_scene_wmo/icons/Thumbs.db
